In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [18]:
df= pd.read_csv('supermart_final.csv')

In [20]:
print("Initial Data Overview:")
print(df.head())
print("\nMissing Values:")
print(df.isnull().sum())

Initial Data Overview:
    invoice_id branch       city customer_type  gender  \
0  750-67-8428      A     Yangon        Member  Female
1  226-31-3081      C  Naypyitaw        Normal  Female
2  631-41-3108      A     Yangon        Normal    Male
3  123-19-1176      A     Yangon        Member    Male
4  373-73-7910      A     Yangon        Normal    Male

             product_line  unit_price  quantity   tax_5%     total  \
0       Health And Beauty       74.69         7  26.1415  548.9715
1  Electronic Accessories       15.28         5   3.8200   80.2200
2      Home And Lifestyle       46.33         7  16.2155  340.5255
3       Health And Beauty       58.22         8  23.2880  489.0480
4       Sports And Travel       86.31         7  30.2085  634.3785

       payment    cogs  gross_margin_percentage  gross_income  rating  \
0      Ewallet  522.83                 4.761905       26.1415     9.1
1         Cash   76.40                 4.761905        3.8200     9.6
2  Credit Card  324.31                 4.761905       16.2155     7.4
3      Ewallet  465.76                 4.761905       23.2880     8.4
4      Ewallet  604.17                 4.761905       30.2085     5.3

             date_time
0  2019-01-05 13:08:00
1  2019-03-08 10:29:00
2  2019-03-03 13:23:00
3  2019-01-27 20:33:00
4  2019-02-08 10:37:00

Missing Values:
invoice_id                  0
branch                      0
city                        0
customer_type              47
gender                     47
product_line               47
unit_price                  0
quantity                    0
tax_5%                      0
total                      47
payment                    47
cogs                        0
gross_margin_percentage     0
gross_income                0
rating                     47
date_time                   0
dtype: int64

In [23]:
# 2. Handling Missing Data
df.fillna({
    "customer_type": "Unknown",
    "gender": "Unknown",
    "product_line": "Miscellaneous",
    "payment": "Unknown",
    "total": df["total"].median(),
    "rating": df["rating"].median()
}, inplace=True)

In [25]:
# 3. Removing Duplicates
df.drop_duplicates(inplace=True)

In [26]:
# 4. Standardizing Data Formats
df["date_time"] = pd.to_datetime(df["date_time"], errors='coerce')

In [29]:
# Convert categorical columns to string type
df["customer_type"] = df["customer_type"].astype("string").str.title()
df["gender"] = df["gender"].astype("string").str.title()
df["product_line"] = df["product_line"].astype("string").str.title()
df["payment"] = df["payment"].astype("string").str.title()
df["total"] = df["total"].round(2)

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 945 entries, 0 to 944
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   invoice_id               945 non-null    object
 1   branch                   945 non-null    object
 2   city                     945 non-null    object
 3   customer_type            945 non-null    string
 4   gender                   945 non-null    string
 5   product_line             945 non-null    string
 6   unit_price               945 non-null    float64
 7   quantity                 945 non-null    int64
 8   tax_5%                   945 non-null    float64
 9   total                    945 non-null    float64
 10  payment                  945 non-null    string
 11  cogs                     945 non-null    float64
 12  gross_margin_percentage  945 non-null    float64
 13  gross_income             945 non-null    float64
 14  rating                   945 non-null    float64
 15  date_time                945 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(7), int64(1), object(3), string(4)
memory usage: 118.3+ KB

In [31]:
df.to_csv("supermart_cleaned.csv")